Repository 9oogling/CodyUs, pull requests merged in 2024-07, with the labels that each got.

#2 [2024/07/20] Feature/cu 23 add setting
  .gitignore
  src/main/java/com/team9oogling/ecommerce/global/config/SecurityConfig.java
  src/main/java/com/team9oogling/ecommerce/global/dto/DataResponseDto.java
  src/main/java/com/team9oogling/ecommerce/global/dto/MessageResponseDto.java
  src/main/java/com/team9oogling/ecommerce/global/entity/Timestamped.java
  src/main/java/com/team9oogling/ecommerce/global/exception/CustomException.java
  src/main/java/com/team9oogling/ecommerce/global/exception/ErrorCode.java
  src/main/java/com/team9oogling/ecommerce/global/exception/ExceptionResponseDto.java
  src/main/java/com/team9oogling/ecommerce/global/exception/GlobalExceptionHandler.java
  src/main/java/com/team9oogling/ecommerce/global/jwt/JwtPovider.java
Labels: feature

#3 [2024/07/20] Feature/cu 3 signup login
  .gitignore
  build.gradle
  src/main/java/com/team9oogling/codyus/CodyUsApplication.java
  src/main/java/com/team9oogling/codyus/domain/user/controller/UserController.java
  src/main/java/com/team9oogling/codyus/domain/user/dto/UserLoginRequestDto.java
  src/main/java/com/team9oogling/codyus/domain/user/dto/UserSignupRequestDto.java
  src/main/java/com/team9oogling/codyus/domain/user/entity/User.java
  src/main/java/com/team9oogling/codyus/domain/user/entity/UserRole.java
  src/main/java/com/team9oogling/codyus/domain/user/entity/UserStatus.java
  src/main/java/com/team9oogling/codyus/domain/user/repository/UserRepository.java
  src/main/java/com/team9oogling/codyus/domain/user/security/UserDetailsImpl.java
  src/main/java/com/team9oogling/codyus/domain/user/security/UserDetailsServiceImpl.java
  src/main/java/com/team9oogling/codyus/domain/user/service/UserService.java
  src/main/java/com/team9oogling/codyus/global/config/BcryptConfig.java
  src/main/java/com/team9oogling/codyus/global/config/SecurityConfig.java
  src/main/java/com/team9oogling/codyus/global/dto/DataResponseDto.java
  src/main/java/com/team9oogling/codyus/global/dto/MessageResponseDto.java
  src/main/java/com/team9oogling/codyus/global/dto/SecurityResponse.java
  src/main/java/com/team9oogling/codyus/global/entity/Timestamped.java
  src/main/java/com/team9oogling/codyus/global/exception/CustomException.java
  src/main/java/com/team9oogling/codyus/global/exception/ErrorCode.java
  src/main/java/com/team9oogling/codyus/global/exception/ExceptionResponseDto.java
  src/main/java/com/team9oogling/codyus/global/exception/GlobalExceptionHandler.java
  src/main/java/com/team9oogling/codyus/global/jwt/JwtProvider.java
  src/main/java/com/team9oogling/codyus/global/security/CustomAuthenticationEntryPoint.java
  src/main/java/com/team9oogling/codyus/global/security/JwtAuthenticationFilter.java
  src/main/java/com/team9oogling/codyus/global/security/JwtAuthorizationFilter.java
  src/main/java/com/team9oogling/ecommerce/global/config/SecurityConfig.java
  src/main/java/com/team9oogling/ecommerce/global/jwt/JwtPovider.java
  src/main/resources/application.properties
  src/test/java/com/team9oogling/codyus/CodyUsApplicationTests.java
Labels: feature

#4 [2024/07/21] feature/CU-18-create-logout
  src/main/java/com/team9oogling/codyus/domain/user/controller/UserController.java
  src/main/java/com/team9oogling/codyus/domain/user/service/UserService.java
  src/main/java/com/team9oogling/codyus/global/config/SecurityConfig.java
  src/main/java/com/team9oogling/codyus/global/entity/BlacklistedToken.java
  src/main/java/com/team9oogling/codyus/global/repository/BlacklistedTokenRepository.java
  src/main/java/com/team9oogling/codyus/global/security/JwtAuthenticationFilter.java
  src/main/java/com/team9oogling/codyus/global/security/JwtAuthorizationFilter.java
Labels: feature

#10 [2024/07/22] feature/CU-25-CU-26-userRefactoring
  src/main/java/com/team9oogling/codyus/domain/user/controller/UserController.java
  src/main/java/com/team9oogling/codyus/domain/user/dto/UserSignupRequestDto.java
  src/main/java/com/team9oogling/codyus/domain/user/entity/User.java
  src/main/java/com/team9oogling/codyus/domain/user/security/UserDetailsServiceImpl.java
  src/main/java/com/team9oogling/codyus/domain/user/service/UserService.java
  src/main/java/com/team9oogling/codyus/global/dto/MessageResponseDto.java
  src/main/java/com/team9oogling/codyus/global/entity/StatusCode.java
  src/main/java/com/team9oogling/codyus/global/exception/CustomException.java
  src/main/java/com/team9oogling/codyus/global/exception/GlobalExceptionHandler.java
Labels: refactoring

#11 [2024/07/22] feature/CU-27_chattingRoomCreate
  src/main/java/com/team9oogling/codyus/domain/chatting/controller/ChattingRoomController.java
  src/main/java/com/team9oogling/codyus/domain/chatting/dto/ChattingRoomCreateResponseDto.java
  src/main/java/com/team9oogling/codyus/domain/chatting/entity/ChattingMember.java
  src/main/java/com/team9oogling/codyus/domain/chatting/entity/ChattingRoom.java
  src/main/java/com/team9oogling/codyus/domain/chatting/entity/Message.java
  src/main/java/com/team9oogling/codyus/domain/chatting/repository/ChattingMemberRepository.java
  src/main/java/com/team9oogling/codyus/domain/chatting/repository/ChattingRoomRepository.java
  src/main/java/com/team9oogling/codyus/domain/chatting/repository/MessageRepository.java
  src/main/java/com/team9oogling/codyus/domain/chatting/service/ChattingRoomService.java
  src/main/java/com/team9oogling/codyus/global/entity/StatusCode.java
Labels: feature

#12 [2024/07/22] feature/CU-12 search
  build.gradle
  src/main/java/com/team9oogling/codyus/domain/post/controller/PostController.java
  src/main/java/com/team9oogling/codyus/domain/post/dto/PostRequestDTO.java
  src/main/java/com/team9oogling/codyus/domain/post/dto/PostResponseDTO.java
  src/main/java/com/team9oogling/codyus/domain/post/entity/Post.java
  src/main/java/com/team9oogling/codyus/domain/post/repository/PostRepository.java
  src/main/java/com/team9oogling/codyus/domain/post/repository/PostRepositoryCustom.java
  src/main/java/com/team9oogling/codyus/domain/post/repository/PostRepositoryImpl.java
  src/main/java/com/team9oogling/codyus/domain/post/service/PostService.java
  src/main/java/com/team9oogling/codyus/domain/querydsl/QuerydslConfig.java
Labels: feature

#13 [2024/07/22] refactor/CU-29-responseRefactoring
  src/main/java/com/team9oogling/codyus/domain/chatting/dto/ChattingRoomCreateResponseDto.java
  src/main/java/com/team9oogling/codyus/domain/chatting/service/ChattingRoomService.java
  src/main/java/com/team9oogling/codyus/domain/user/controller/UserController.java
  src/main/java/com/team9oogling/codyus/global/entity/ResponseFactory.java
Labels: refactoring

#14 [2024/07/23] feature/CU-34-add-like
  src/main/java/com/team9oogling/codyus/domain/like/controller/LikeController.java
  src/main/java/com/team9oogling/codyus/domain/like/entity/Like.java
  src/main/java/com/team9oogling/codyus/domain/like/repository/LikeRepository.java
  src/main/java/com/team9oogling/codyus/domain/like/service/LikeService.java
  src/main/java/com/team9oogling/codyus/global/entity/StatusCode.java
Labels: feature

#15 [2024/07/24] refactor CU-13 게시물 CRUD refactoring
  src/main/java/com/team9oogling/codyus/domain/post/controller/PostController.java
  src/main/java/com/team9oogling/codyus/domain/post/dto/PostRequestDto.java
  src/main/java/com/team9oogling/codyus/domain/post/dto/PostResponseDTO.java
  src/main/java/com/team9oogling/codyus/domain/post/dto/PostResponseDto.java
  src/main/java/com/team9oogling/codyus/domain/post/entity/Post.java
  src/main/java/com/team9oogling/codyus/domain/post/entity/PostStatus.java
  src/main/java/com/team9oogling/codyus/domain/post/entity/SaleType.java
  src/main/java/com/team9oogling/codyus/domain/post/entity/SearchType.java
  src/main/java/com/team9oogling/codyus/domain/post/repository/PostRepository.java
  src/main/java/com/team9oogling/codyus/domain/post/repository/PostRepositoryCustom.java
  src/main/java/com/team9oogling/codyus/domain/post/repository/PostRepositoryImpl.java
  src/main/java/com/team9oogling/codyus/domain/post/service/PostService.java
  src/main/java/com/team9oogling/codyus/global/config/QuerydslConfig.java
Labels: refactoring

#16 [2024/07/24] feature/CU-35-delete-like
  src/main/java/com/team9oogling/codyus/domain/like/controller/LikeController.java
  src/main/java/com/team9oogling/codyus/domain/like/service/LikeService.java
Labels: feature

#21 [2024/07/26]feature/CU-30-create-kakaoLogin
  src/main/java/com/team9oogling/codyus/HomeController.java
  src/main/java/com/team9oogling/codyus/domain/oauth/controller/OAuthController.java
  src/main/java/com/team9oogling/codyus/domain/oauth/dto/KakaoUserInfo.java
  src/main/java/com/team9oogling/codyus/domain/oauth/dto/KakaoUserInfoDto.java
  src/main/java/com/team9oogling/codyus/domain/oauth/dto/NaverUserInfoDto.java
  src/main/java/com/team9oogling/codyus/domain/oauth/service/KakaoService.java
  src/main/java/com/team9oogling/codyus/domain/post/service/PostService.java
  src/main/java/com/team9oogling/codyus/domain/user/controller/UserController.java
  src/main/java/com/team9oogling/codyus/domain/user/dto/UserInfoDto.java
  src/main/java/com/team9oogling/codyus/domain/user/entity/User.java
  src/main/java/com/team9oogling/codyus/global/config/RestTemplateConfig.java
  src/main/java/com/team9oogling/codyus/global/config/SecurityConfig.java
  src/main/java/com/team9oogling/codyus/global/config/WebConfig.java
  src/main/resources/static/css/style.css
  src/main/resources/static/js/login.js
  src/main/resources/template/login.html
  src/main/resources/templates/index.html
  src/main/resources/templates/login.html
Labels: feature

#22 [2024/07/26] feature/CU-44 검색 refactoring
  src/main/java/com/team9oogling/codyus/domain/post/controller/PostController.java
  src/main/java/com/team9oogling/codyus/domain/post/dto/PostRequestDto.java
  src/main/java/com/team9oogling/codyus/domain/post/dto/PostResponseDto.java
  src/main/java/com/team9oogling/codyus/domain/post/entity/Post.java
  src/main/java/com/team9oogling/codyus/domain/post/entity/SearchType.java
  src/main/java/com/team9oogling/codyus/domain/post/repository/PostRepositoryCustom.java
  src/main/java/com/team9oogling/codyus/domain/post/repository/PostRepositoryImpl.java
  src/main/java/com/team9oogling/codyus/domain/post/service/PostService.java
  src/main/java/com/team9oogling/codyus/global/entity/StatusCode.java
  src/main/java/com/team9oogling/codyus/global/exception/GlobalExceptionHandler.java
Labels: feature, refactoring

#23 feature/CU-49_chat-room-list
  src/main/java/com/team9oogling/codyus/domain/chatting/controller/ChattingRoomController.java
  src/main/java/com/team9oogling/codyus/domain/chatting/dto/ChattingRoomFindTopResponseDto.java
  src/main/java/com/team9oogling/codyus/domain/chatting/dto/ChattingRoomResponseDto.java
  src/main/java/com/team9oogling/codyus/domain/chatting/entity/MessageOffset.java
  src/main/java/com/team9oogling/codyus/domain/chatting/repository/ChattingMemberRepository.java
  src/main/java/com/team9oogling/codyus/domain/chatting/repository/MessageRepository.java
  src/main/java/com/team9oogling/codyus/domain/chatting/repository/MessageRepositoryCustom.java
  src/main/java/com/team9oogling/codyus/domain/chatting/repository/MessageRepositoryCustomImpl.java
  src/main/java/com/team9oogling/codyus/domain/chatting/service/ChattingRoomService.java
  src/main/java/com/team9oogling/codyus/domain/chatting/service/MessageService.java
  src/main/java/com/team9oogling/codyus/global/config/StompHandler.java
  src/main/java/com/team9oogling/codyus/global/config/webSocketConfig.java
  src/main/java/com/team9oogling/codyus/global/entity/StatusCode.java
Labels: feature

#27 [2024/07/30] Feature/CU-54-front-setting
  build.gradle
  src/main/java/com/team9oogling/codyus/domain/post/controller/PostController.java
  src/main/java/com/team9oogling/codyus/domain/post/entity/PostImage.java
  src/main/java/com/team9oogling/codyus/domain/post/repository/PostImageRepository.java
  src/main/java/com/team9oogling/codyus/domain/post/service/PostService.java
  src/main/java/com/team9oogling/codyus/global/config/S3Config.java
  src/main/java/com/team9oogling/codyus/global/entity/StatusCode.java
  src/main/java/com/team9oogling/codyus/global/security/JwtAuthenticationFilter.java
  src/main/java/com/team9oogling/codyus/global/security/JwtAuthorizationFilter.java
  src/main/java/com/team9oogling/codyus/upload/AwsS3Uploader.java
  src/main/java/com/team9oogling/codyus/upload/ImageType.java
  src/main/resources/application.properties
  src/main/resources/static/html/find-email.html
  src/main/resources/static/html/find-password.html
  src/main/resources/static/html/login.html
  src/main/resources/static/html/main.html
  src/main/resources/static/html/main2.html
  src/main/resources/static/html/signup.html
  src/main/resources/static/images/codyus.png
Labels: feature

#28 [2024/07/31] feature/CU-56-create-findemail
  src/main/java/com/team9oogling/codyus/domain/oauth/controller/OAuthController.java
  src/main/java/com/team9oogling/codyus/domain/oauth/dto/NaverUserInfoDto.java
  src/main/java/com/team9oogling/codyus/domain/oauth/service/NaverService.java
  src/main/java/com/team9oogling/codyus/domain/user/controller/UserController.java
  src/main/java/com/team9oogling/codyus/domain/user/dto/FindEmailDto.java
  src/main/java/com/team9oogling/codyus/domain/user/dto/UserInfoDto.java
  src/main/java/com/team9oogling/codyus/domain/user/service/UserService.java
  src/main/java/com/team9oogling/codyus/global/config/SecurityConfig.java
  src/main/java/com/team9oogling/codyus/global/entity/StatusCode.java
  src/main/resources/application.properties
Labels: feature

#29 [2024/07/31] Feature/CU-57-create-footer
  src/main/java/com/team9oogling/codyus/global/config/SecurityConfig.java
  src/main/resources/static/css/footer.css
  src/main/resources/static/css/header.css
  src/main/resources/static/css/login.css
  src/main/resources/static/css/style.css
  src/main/resources/static/html/login.html
  src/main/resources/static/js/login.js
  src/main/resources/templates/find-email.html
  src/main/resources/templates/find-password.html
  src/main/resources/templates/footer.html
  src/main/resources/templates/header.html
  src/main/resources/templates/index.html
  src/main/resources/templates/login.html
  src/main/resources/templates/main.html
  src/main/resources/templates/main2.html
  src/main/resources/templates/signup.html
Labels: feature
