Repository 9oogling/CodyUs, pull requests merged in 2024-08, with the labels that each got.

#30 [2024/08/04] feature/CU-59-connection-login
  src/main/java/com/team9oogling/codyus/HomeController.java
  src/main/java/com/team9oogling/codyus/global/config/SecurityConfig.java
  src/main/resources/static/css/header.css
  src/main/resources/static/css/login.css
  src/main/resources/static/css/shop.css
  src/main/resources/static/css/style.css
  src/main/resources/static/js/basic.js
  src/main/resources/static/js/header.js
  src/main/resources/static/js/login.js
  src/main/resources/templates/header.html
  src/main/resources/templates/index.html
  src/main/resources/templates/login.html
  src/main/resources/templates/shop.html
Labels: feature

#31 [2024/08/04] feature/CU-58_front-chatAnd-refacor
  src/main/java/com/team9oogling/codyus/HomeController.java
  src/main/java/com/team9oogling/codyus/domain/chatting/controller/ChattingRoomController.java
  src/main/java/com/team9oogling/codyus/domain/chatting/controller/MessageController.java
  src/main/java/com/team9oogling/codyus/domain/chatting/dto/ChattingMessageResponseDto.java
  src/main/java/com/team9oogling/codyus/domain/chatting/dto/ChattingReadResponseDto.java
  src/main/java/com/team9oogling/codyus/domain/chatting/dto/ChattingRoomFindTopResponseDto.java
  src/main/java/com/team9oogling/codyus/domain/chatting/dto/ChattingRoomGetPostResponseDto.java
  src/main/java/com/team9oogling/codyus/domain/chatting/dto/ChattingRoomResponseDto.java
  src/main/java/com/team9oogling/codyus/domain/chatting/dto/MessageOffsetResponseDto.java
  src/main/java/com/team9oogling/codyus/domain/chatting/repository/MessageOffsetRepository.java
  src/main/java/com/team9oogling/codyus/domain/chatting/repository/MessageRepositoryCustomImpl.java
  src/main/java/com/team9oogling/codyus/domain/chatting/service/ChattingService.java
  src/main/java/com/team9oogling/codyus/domain/chatting/service/MessageService.java
  src/main/java/com/team9oogling/codyus/domain/post/repository/PostImageRepository.java
  src/main/java/com/team9oogling/codyus/domain/post/service/PostService.java
  src/main/java/com/team9oogling/codyus/domain/user/controller/UserController.java
  src/main/java/com/team9oogling/codyus/domain/user/dto/UserInfoDto.java
  src/main/java/com/team9oogling/codyus/global/entity/StatusCode.java
  src/main/resources/static/css/chat.css
  src/main/resources/static/images/minji.jfif
  src/main/resources/static/js/chat.js
  src/main/resources/templates/chat.html
  src/main/resources/templates/header.html
Labels: feature

#34 [2024/08/07] feature/CU-65-deploy
  Dockerfile
  src/main/java/com/team9oogling/codyus/global/config/CategoryInitializer.java
  src/main/resources/application.properties
  src/main/resources/static/css/header.css
  src/main/resources/static/css/header2.css
  src/main/resources/static/css/login.css
  src/main/resources/static/css/posts.css
  src/main/resources/static/html/header2.html
  src/main/resources/static/js/header.js
  src/main/resources/static/js/header2.js
  src/main/resources/static/js/posts.js
  src/main/resources/templates/header.html
  src/main/resources/templates/login.html
  src/main/resources/templates/postCreate.html
  src/main/resources/templates/posts.html
Labels: feature

#38 ✨ update - CU-68 푸터 리디자인
  src/main/resources/static/css/footer2.css
  src/main/resources/templates/footer2.html
Labels: feature

#41 [2024/08/08] Fix/CU-67-mypage-code-fix
  src/main/resources/static/js/mypage.js
  src/main/resources/templates/mypage.html
Labels: refactoring

#42 [2024/08/08] feature/CU-67-front-mypage
  src/main/resources/static/css/header.css
  src/main/resources/static/css/mypage.css
  src/main/resources/static/js/mypage.js
  src/main/resources/templates/mypage.html
Labels: feature, refactoring

#44 [2024/08/09] feature/CU-73_exit-chat-room
  src/main/java/com/team9oogling/codyus/domain/chatting/service/MessageService.java
  src/main/java/com/team9oogling/codyus/global/config/SecurityConfig.java
  src/main/resources/static/css/chat.css
  src/main/resources/static/js/chat.js
  src/main/resources/templates/chat.html
Labels: feature, refactoring

#43 [2024/08/09] fix/CU-74-fix-header-footer
  src/main/java/com/team9oogling/codyus/global/config/SecurityConfig.java
  src/main/resources/static/css/footer.css
  src/main/resources/static/css/header-main.css
  src/main/resources/static/css/header.css
  src/main/resources/static/css/index.css
  src/main/resources/static/css/login.css
  src/main/resources/static/css/posts.css
  src/main/resources/static/js/header.js
  src/main/resources/templates/footer.html
  src/main/resources/templates/header-main.html
  src/main/resources/templates/header.html
  src/main/resources/templates/index.html
  src/main/resources/templates/searchResult.html
Labels: feature, refactoring

#45 [2024/08/09] feature - CU-64 front-postDetail, like
  src/main/java/com/team9oogling/codyus/domain/like/controller/LikeController.java
  src/main/java/com/team9oogling/codyus/domain/like/dto/LikeCountResponseDto.java
  src/main/java/com/team9oogling/codyus/domain/like/repository/LikeRepository.java
  src/main/java/com/team9oogling/codyus/domain/like/service/LikeService.java
  src/main/java/com/team9oogling/codyus/domain/post/entity/SearchType.java
  src/main/java/com/team9oogling/codyus/domain/post/repository/PostRepositoryImpl.java
  src/main/java/com/team9oogling/codyus/global/config/SecurityConfig.java
  src/main/java/com/team9oogling/codyus/global/entity/StatusCode.java
  src/main/resources/static/css/postDetail.css
  src/main/resources/static/css/posts.css
  src/main/resources/static/js/postDetail.js
  src/main/resources/templates/postDetail.html
Labels: feature

#46 [2024/08/10] feature/CU-72-liked-posts
  src/main/java/com/team9oogling/codyus/domain/like/controller/LikeController.java
  src/main/java/com/team9oogling/codyus/domain/like/dto/LikedPostResponseDto.java
  src/main/java/com/team9oogling/codyus/domain/like/repository/LikeRepository.java
  src/main/java/com/team9oogling/codyus/domain/like/service/LikeService.java
  src/main/java/com/team9oogling/codyus/global/entity/StatusCode.java
Labels: feature

#48 feature/CU-84-create-find-email
  src/main/java/com/team9oogling/codyus/HomeController.java
  src/main/java/com/team9oogling/codyus/domain/admin/controller/AdminController.java
  src/main/java/com/team9oogling/codyus/domain/admin/dto/CategoryRequestDto.java
  src/main/java/com/team9oogling/codyus/domain/admin/service/AdminService.java
  src/main/java/com/team9oogling/codyus/domain/like/controller/LikeController.java
  src/main/java/com/team9oogling/codyus/domain/like/service/LikeService.java
  src/main/java/com/team9oogling/codyus/domain/user/controller/UserController.java
  src/main/java/com/team9oogling/codyus/domain/user/dto/FindEmailByPhoneNumberResponseDto.java
  src/main/java/com/team9oogling/codyus/domain/user/dto/FindEmailDto.java
  src/main/java/com/team9oogling/codyus/domain/user/repository/UserRepository.java
  src/main/java/com/team9oogling/codyus/domain/user/service/UserService.java
  src/main/java/com/team9oogling/codyus/global/config/SecurityConfig.java
  src/main/java/com/team9oogling/codyus/global/entity/StatusCode.java
  src/main/resources/static/css/find-email.css
  src/main/resources/static/css/header.css
  src/main/resources/static/css/signup.css
  src/main/resources/static/js/find-email.js
  src/main/resources/templates/find-email.html
  src/main/resources/templates/login.html
Labels: feature

#49 [2024/08/12] feature/CU-76-contact-us
  src/main/java/com/team9oogling/codyus/domain/like/service/LikeService.java
  src/main/resources/static/css/contact-us.css
  src/main/resources/static/css/likepage.css
  src/main/resources/static/js/contact-us.js
  src/main/resources/static/js/likepage.js
  src/main/resources/templates/contact-us.html
  src/main/resources/templates/likepage.html
Labels: feature, refactoring

#50 [2024/08/12] feature/CU-85-apply-like-mypage-help
  src/main/java/com/team9oogling/codyus/HomeController.java
  src/main/java/com/team9oogling/codyus/domain/like/controller/LikeController.java
  src/main/java/com/team9oogling/codyus/global/config/SecurityConfig.java
  src/main/java/com/team9oogling/codyus/global/entity/StatusCode.java
  src/main/resources/static/css/contact-us.css
  src/main/resources/static/css/likePage.css
  src/main/resources/static/css/myPage.css
  src/main/resources/static/js/likePage.js
  src/main/resources/static/js/myPage.js
  src/main/resources/templates/contact-us.html
  src/main/resources/templates/footer.html
  src/main/resources/templates/header.html
  src/main/resources/templates/likePage.html
  src/main/resources/templates/myPage.html
  src/main/resources/templates/mypage.html
Labels: feature

#51 [2024/08/12] feature/CU-64 front-postDetail, search
  src/main/java/com/team9oogling/codyus/domain/like/service/LikeService.java
  src/main/java/com/team9oogling/codyus/domain/post/entity/SearchType.java
  src/main/java/com/team9oogling/codyus/domain/post/repository/PostRepositoryImpl.java
  src/main/resources/static/css/postDetail.css
  src/main/resources/static/css/posts.css
  src/main/resources/static/js/postCreate.js
  src/main/resources/static/js/postDetail.js
  src/main/resources/static/js/posts.js
  src/main/resources/templates/header.html
Labels: feature

#52 [2024/08/12] feature/CU-88_front-chat-create
  src/main/java/com/team9oogling/codyus/domain/chatting/dto/ChattingRoomCreateResponseDto.java
  src/main/java/com/team9oogling/codyus/domain/chatting/service/ChattingService.java
  src/main/resources/static/js/chat.js
Labels: feature, refactoring

#54 [2024/08/12] feature/CU-89-create-get-postsByCategory
  src/main/java/com/team9oogling/codyus/domain/post/controller/PostController.java
  src/main/java/com/team9oogling/codyus/domain/post/dto/PostRequestDto.java
  src/main/java/com/team9oogling/codyus/domain/post/entity/Post.java
  src/main/java/com/team9oogling/codyus/domain/post/repository/PostRepository.java
  src/main/java/com/team9oogling/codyus/domain/post/service/PostService.java
  src/main/java/com/team9oogling/codyus/global/config/SecurityConfig.java
  src/main/java/com/team9oogling/codyus/global/entity/StatusCode.java
  src/main/resources/static/js/postCreate.js
Labels: feature

#56 [2024/08/13] feature/CU-91-apply-style
  src/main/java/com/team9oogling/codyus/HomeController.java
  src/main/java/com/team9oogling/codyus/domain/admin/controller/AdminController.java
  src/main/java/com/team9oogling/codyus/global/config/CategoryInitializer.java
  src/main/java/com/team9oogling/codyus/global/config/S3Config.java
  src/main/java/com/team9oogling/codyus/global/config/SecurityConfig.java
  src/main/java/com/team9oogling/codyus/upload/AwsS3Uploader.java
  src/main/resources/static/css/back-office.css
  src/main/resources/static/css/postCreate.css
  src/main/resources/static/css/posts.css
  src/main/resources/static/js/back-office.js
  src/main/resources/static/js/postCreate.js
  src/main/resources/static/js/posts.js
  src/main/resources/templates/back-office.html
  src/main/resources/templates/postCreate.html
  src/main/resources/templates/posts.html
Labels: feature

#58 [2024/08/13] feature/CU-87-admin-function
  src/main/java/com/team9oogling/codyus/domain/admin/controller/AdminController.java
  src/main/java/com/team9oogling/codyus/domain/admin/dto/AllUserPageResponseDto.java
  src/main/java/com/team9oogling/codyus/domain/admin/dto/AllUserResponseDto.java
  src/main/java/com/team9oogling/codyus/domain/admin/dto/PostPageResponseDto.java
  src/main/java/com/team9oogling/codyus/domain/admin/service/AdminService.java
  src/main/java/com/team9oogling/codyus/domain/post/controller/PostController.java
  src/main/java/com/team9oogling/codyus/domain/post/entity/Post.java
  src/main/java/com/team9oogling/codyus/domain/post/repository/PostRepository.java
  src/main/java/com/team9oogling/codyus/global/entity/StatusCode.java
Labels: feature, refactoring

#59 [2024/08/13] feature/ CU-92 front-like-mypage
  src/main/java/com/team9oogling/codyus/global/config/SecurityConfig.java
  src/main/resources/static/css/likePage.css
  src/main/resources/static/js/likePage.js
  src/main/resources/templates/likePage.html
Labels: feature

#60 [2024/08/13] fix/ CU-87 likeservice-code
  src/main/java/com/team9oogling/codyus/domain/like/service/LikeService.java
Labels: refactoring

#61 [2024/08/14] feature/CU-93-user-question
  src/main/java/com/team9oogling/codyus/domain/user/controller/UserQuestionController.java
  src/main/java/com/team9oogling/codyus/domain/user/dto/UserQuestionRequestDto.java
  src/main/java/com/team9oogling/codyus/domain/user/entity/UserQuestion.java
  src/main/java/com/team9oogling/codyus/domain/user/repository/UserQuestionRepository.java
  src/main/java/com/team9oogling/codyus/domain/user/service/UserQuestionService.java
  src/main/java/com/team9oogling/codyus/global/entity/StatusCode.java
  src/main/resources/static/css/contact-us.css
  src/main/resources/static/js/contact-us.js
  src/main/resources/templates/contact-us.html
Labels: feature

#62 [2024/08/14] feature/CU-94-front-refactor
  src/main/resources/static/css/header.css
  src/main/resources/static/js/header.js
  src/main/resources/static/js/myPage.js
  src/main/resources/templates/myPage.html
  src/main/resources/templates/shop.html
Labels: refactoring

#63 [2024/08/14] feature/CU-92 front-posts-refactoring
  src/main/java/com/team9oogling/codyus/domain/like/controller/LikeController.java
  src/main/java/com/team9oogling/codyus/domain/like/repository/LikeRepository.java
  src/main/java/com/team9oogling/codyus/domain/like/service/LikeService.java
  src/main/java/com/team9oogling/codyus/domain/post/controller/PostController.java
  src/main/java/com/team9oogling/codyus/domain/post/service/PostService.java
  src/main/java/com/team9oogling/codyus/global/entity/StatusCode.java
  src/main/resources/static/css/likePage.css
  src/main/resources/static/css/posts.css
  src/main/resources/static/js/category.js
  src/main/resources/static/js/likePage.js
  src/main/resources/static/js/posts.js
  src/main/resources/templates/category-page.html
  src/main/resources/templates/header.html
  src/main/resources/templates/likePage.html
Labels: refactoring

#64 [2024/08/14] fix/CU-101-fix-header-mypage
  src/main/resources/static/css/chat.css
  src/main/resources/static/css/footer.css
  src/main/resources/static/css/header.css
  src/main/resources/static/css/myPage.css
  src/main/resources/static/js/myPage.js
  src/main/resources/templates/chat.html
  src/main/resources/templates/myPage.html
Labels: refactoring

#65 [2024/08/14] feature/CU-96-add-dummy-data
  src/main/java/com/team9oogling/codyus/global/runner/dummyDataRunner.java
  src/main/resources/static/css/chat.css
  src/main/resources/static/js/chat.js
Labels: feature, refactoring

#66 [2024/08/15] feature/CU-100-rds-loadbalancer-cors
  src/main/java/com/team9oogling/codyus/global/config/SecurityConfig.java
  src/main/java/com/team9oogling/codyus/global/config/WebConfig.java
  src/main/java/com/team9oogling/codyus/global/controller/HealthCheckController.java
  src/main/resources/application.properties
  src/main/resources/static/css/myPage.css
  src/main/resources/static/js/myPage.js
  src/main/resources/templates/myPage.html
Labels: feature

#67 [2024/08/16]♻️refactor: postDetail 하트 이미지추가, 채팅 이미지 추가
  src/main/resources/static/css/likePage.css
  src/main/resources/static/css/postDetail.css
  src/main/resources/static/images/chatIcon.png
  src/main/resources/static/images/redHeart.png
  src/main/resources/static/images/whiteHeart.png
  src/main/resources/static/js/basic.js
  src/main/resources/static/js/postDetail.js
  src/main/resources/templates/postDetail.html
Labels: refactoring

#69 [2024/08/16] Feature/cu 97 post bycategory
  src/main/java/com/team9oogling/codyus/HomeController.java
  src/main/java/com/team9oogling/codyus/domain/like/service/LikeService.java
  src/main/java/com/team9oogling/codyus/domain/post/controller/PostController.java
  src/main/java/com/team9oogling/codyus/domain/post/entity/Post.java
  src/main/java/com/team9oogling/codyus/global/config/SecurityConfig.java
  src/main/java/com/team9oogling/codyus/global/security/CustomAuthenticationEntryPoint.java
  src/main/resources/static/css/footer.css
  src/main/resources/static/css/ranking.css
  src/main/resources/static/js/ranking.js
  src/main/resources/templates/header.html
  src/main/resources/templates/index.html
  src/main/resources/templates/ranking.html
  src/main/resources/templates/searchResult.html
Labels: feature

#70 [2024/08/16] feature/CU-103-shop-front
  src/main/resources/static/css/shop.css
  src/main/resources/static/js/shop.js
  src/main/resources/templates/shop.html
Labels: feature

#72 [2024/08/16] fix/CU-98-fix-front
  src/main/java/com/team9oogling/codyus/domain/user/controller/UserController.java
  src/main/java/com/team9oogling/codyus/domain/user/dto/UpdateProfileNicknameRequestDto.java
  src/main/java/com/team9oogling/codyus/domain/user/dto/UpdateProfilePhoneNumberRequestDto.java
  src/main/java/com/team9oogling/codyus/domain/user/dto/UserInfoDto.java
  src/main/java/com/team9oogling/codyus/domain/user/service/UserService.java
  src/main/java/com/team9oogling/codyus/global/entity/StatusCode.java
  src/main/resources/static/css/chat.css
  src/main/resources/static/css/contact-us.css
  src/main/resources/static/css/find-email.css
  src/main/resources/static/css/find-password.css
  src/main/resources/static/css/header.css
  src/main/resources/static/css/likePage.css
  src/main/resources/static/css/login.css
  src/main/resources/static/css/myPage.css
  src/main/resources/static/css/postCreate.css
  src/main/resources/static/css/postDetail.css
  src/main/resources/static/css/posts.css
  src/main/resources/static/css/shop.css
  src/main/resources/static/css/signup.css
  src/main/resources/static/css/style.css
  src/main/resources/static/js/contact-us.js
  src/main/resources/static/js/likePage.js
  src/main/resources/static/js/myPage.js
  src/main/resources/static/js/postDetail.js
  src/main/resources/templates/admin-signup.html
  src/main/resources/templates/chat.html
  src/main/resources/templates/contact-us.html
  src/main/resources/templates/find-email.html
  src/main/resources/templates/find-password.html
  src/main/resources/templates/likePage.html
  src/main/resources/templates/login.html
  src/main/resources/templates/myPage.html
  src/main/resources/templates/postCreate.html
  src/main/resources/templates/postDetail.html
  src/main/resources/templates/posts.html
  src/main/resources/templates/shop.html
  src/main/resources/templates/signup.html
Labels: feature, refactoring

#76 [2024/08/16] fix/CU-98-fix-front
  src/main/resources/static/css/myPage.css
  src/main/resources/static/js/myPage.js
Labels: refactoring

#77 [2024/08/16] fix/CU-104-fix-tokenByHeader
  src/main/java/com/team9oogling/codyus/domain/like/controller/LikeController.java
  src/main/java/com/team9oogling/codyus/domain/oauth/controller/OAuthController.java
  src/main/java/com/team9oogling/codyus/domain/oauth/service/KakaoService.java
  src/main/java/com/team9oogling/codyus/domain/user/controller/UserController.java
  src/main/java/com/team9oogling/codyus/domain/user/service/UserService.java
  src/main/java/com/team9oogling/codyus/global/config/SecurityConfig.java
  src/main/java/com/team9oogling/codyus/global/jwt/JwtProvider.java
  src/main/java/com/team9oogling/codyus/global/security/JwtAuthenticationFilter.java
  src/main/java/com/team9oogling/codyus/global/security/JwtAuthorizationFilter.java
  src/main/resources/static/js/basic.js
  src/main/resources/static/js/chat.js
  src/main/resources/static/js/header.js
  src/main/resources/static/js/likePage.js
  src/main/resources/static/js/login.js
  src/main/resources/static/js/myPage.js
  src/main/resources/static/js/postCreate.js
  src/main/resources/static/js/postDetail.js
  src/main/resources/templates/login.html
Labels: refactoring

#78 ✨ update - CU-104 토큰 저장 방식 수정
  src/main/resources/static/js/contact-us.js
Labels: refactoring

#79 ♻️refactor: css리펙토링 System.out.print 제거
  src/main/java/com/team9oogling/codyus/domain/like/controller/LikeController.java
  src/main/java/com/team9oogling/codyus/domain/post/controller/PostController.java
  src/main/resources/static/css/chat.css
Labels: refactoring

#80 [2024/08/16] feature/CU-105-deploy
  src/main/resources/static/css/searchResult.css
  src/main/resources/static/js/basic.js
  src/main/resources/static/js/likePage.js
  src/main/resources/static/js/login.js
  src/main/resources/static/js/myPage.js
  src/main/resources/static/js/postCreate.js
  src/main/resources/static/js/searchResult.js
  src/main/resources/templates/searchResult.html
Labels: refactoring

#81 [2024/08/16]♻️refactor: detail 하트
  src/main/resources/static/js/postDetail.js
Labels: refactoring

#82 ♻️refactor: 웹소켓 config setAllowedOrigins -> 허용 로컬호스트랑 https://codyus.shop
  src/main/java/com/team9oogling/codyus/global/config/webSocketConfig.java
Labels: refactoring

#83 [2024/08/16] Fix/cu 105 deploy
  src/main/resources/templates/footer.html
  src/main/resources/templates/posts.html
Labels: refactoring

#84 ♻️refactor: 웹소켓 config setAllowedOrigins -> "*" 모두허용
  src/main/java/com/team9oogling/codyus/global/config/webSocketConfig.java
Labels: refactoring

#85 ♻️refactor: 웹소켓 config setAllowedOrigins -> setAllowedOriginPatterns …
  src/main/java/com/team9oogling/codyus/global/config/webSocketConfig.java
Labels: refactoring

#86 [2024/08/16] Fix/cu 105 deploy
  src/main/resources/templates/login.html
Labels: feature

#87 [2024/08/16] fix/CU-98-fix-front
  src/main/resources/static/css/index.css
  src/main/resources/templates/index.html
Labels: refactoring

#88 [2024/08/17]♻️refactor: 채팅 css
  src/main/resources/static/css/chat.css
Labels: refactoring

#90 [2024/08/18]♻️refactor: chat.js refactor
  src/main/resources/static/js/chat.js
Labels: refactoring

#91 [2024/08/18] feat/CU-106-File-size-limit
  src/main/resources/static/js/postCreate.js
Labels: feature

#92 [2024/08/19] ✨feat/CU-107-chat-alram-poling
  src/main/java/com/team9oogling/codyus/domain/chatting/controller/ChattingRoomController.java
  src/main/java/com/team9oogling/codyus/domain/chatting/dto/UnReadChattingCountResponseDto.java
  src/main/java/com/team9oogling/codyus/domain/chatting/service/ChattingService.java
  src/main/java/com/team9oogling/codyus/global/entity/StatusCode.java
  src/main/resources/static/css/header.css
  src/main/resources/static/js/header.js
  src/main/resources/static/js/shop.js
  src/main/resources/templates/header.html
Labels: feature

#93 [2024/08/19] ✨feat: CU-107 채팅 알림 소켓 연결
  src/main/resources/static/js/chat.js
  src/main/resources/static/js/header.js
  src/main/resources/templates/header.html
Labels: refactoring

#94 [2024/08/20] refactor: chat.css
  src/main/resources/static/css/chat.css
  src/main/resources/static/js/chat.js
Labels: refactoring

#96 [2024/08/21] refactor : post.css ,postDetail.css
  src/main/resources/static/css/postDetail.css
  src/main/resources/static/css/posts.css
Labels: refactoring

#97 [2024/08/21] Fix/CU-105-last-deploy
  src/main/java/com/team9oogling/codyus/domain/post/repository/PostRepositoryImpl.java
  src/main/resources/static/css/postDetail.css
  src/main/resources/static/js/postCreate.js
  src/main/resources/static/js/posts.js
  src/main/resources/static/js/searchResult.js
  src/main/resources/static/js/shop.js
Labels: bug, feature, refactoring

#98 fix : CU-108 '라이크 카운트 메서드 제거, 게시물과 함께 가져오도록 변경'
  src/main/java/com/team9oogling/codyus/domain/post/dto/PostResponseDto.java
  src/main/resources/static/js/man.js
  src/main/resources/static/js/postDetail.js
  src/main/resources/static/js/posts.js
  src/main/resources/static/js/ranking.js
  src/main/resources/static/js/shop.js
  src/main/resources/static/js/unisex.js
  src/main/resources/static/js/woman.js
Labels: refactoring
